# ==========================================
# Dataset
# ==========================================

# Raw cattle/buffalo images
cattle/

# Other large dataset folders
datasets/
data/images/


# ==========================================
# Trained Models
# ==========================================

models/

*.pth
*.pt
*.onnx
checkpoints/
runs/
wandb/
tensorboard/


# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyd
.Python
build/
dist/
*.egg-info/
.eggs/
*.pyo


# ==========================================
# Virtual Environment
# ==========================================

venv/
.venv/
env/
ENV/


# ==========================================
# Environment Variables
# ==========================================

.env
.env.*
!.env.example


# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/


# ==========================================
# IDE
# ==========================================

.vscode/
.idea/


# ==========================================
# OS
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# Temporary / Cache
# ==========================================

*.log
*.tmp
*.cache