# ==========================================
# Dataset
# ==========================================

# Raw cattle/buffalo images
cattle/

# Other large dataset folders
datasets/
data/images/


# ==========================================
# Trained Models
# ==========================================

models/

*.pth
*.pt
*.onnx


# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo


# ==========================================
# Virtual Environment
# ==========================================

venv/
.venv/
env/
ENV/


# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/


# ==========================================
# IDE
# ==========================================

.vscode/
.idea/


# ==========================================
# OS
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# Temporary / Cache
# ==========================================

*.log
*.tmp
*.cache